name: auto deploy

on: [push]

jobs:
  build:
    runs-on: [self-hosted, linux]

    steps:
    - uses: actions/checkout@v1

    - name: Create env file
        run: |
          cp /home/brbr-admin/project/.env /home/brbr-admin/actions-runner/_work/brbr-backend/brbr-backend/.env
          
    - name: yarn install
      run: 
        yarn
        
    - name: remove bin
      run:
        nodemon
